body {
    background-image: url(Untitled\ design.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #9cd1b6;
    margin: 0;
    padding: 0;
  }

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#quiz-section input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 60%;
}

#quiz-section #question {
    font-size: 24px;
    margin-bottom: 20px;
}

#score {
    font-size: 18px;
    margin-top: 20px;
}

#result-section {
    font-size: 24px;
}

#feedback {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #d32f2f;
}

#next-question {
    margin-top: 20px;
}

#question-number {
    font-size: 18px;
    margin-bottom: 10px;
}

#score-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.hidden {
    display: none;
}
#timer.warning {
    animation: flash-red 1s infinite;
    color: red;
  }
  
  @keyframes flash-red {
    0%, 100% { color: red; }
    50% { color: transparent; }
  }
audio {
    display: none;
  }